In [ ]:
Que-1   In the below elements which of them are values or an expression? example- values can be integers or string and 
        expression will be mathematical operators
        * , 'hello' , -87.8 , - , / , + , 6
        
        
ANS -   Values     = 'hello' , -87.8 , 6
        Expression =   *  , - , / , +

In [ ]:
Que-2  What is the difference between  String & Variable ?

Ans -  String is a datatype used to store characters or alphabets.
       for example - "Ineuron" 
       
        variable is a reserved memory location to store values. It can be used for all the datatypes
        for Example - a = 30 ,    here a is a variable
                      b = "hello"  here b is a variable and "hello" is a string.

In [ ]:
Que 3  Describe 3 different Datatypes?

Ans -  1. int - int data type is used to store real numbers.
          example - a = 29  
    
       2. float - float datatype is usede to store floating point number or decimal numbers.
         example  - b = 98.3
            
       3 .Boolean - Boolean datatype has one one of the two truth values of a logic.
         either True or False

In [ ]:
Que 4  What is an Expression made up of? What do all expressions do?

Ans    Expression is a combination of operators and operands that is interpreted to produce some value

       Example -  a = 200+300 
                
                here 200 and 300 are two operands and + is a operator
                and this whole thing in combine is called as Expression.

In [ ]:
Que 5  This assignment statement , like spam = 10. What is the difference between an expression and a statement?

Ans    Expression is a combination of operator and operands which produces some value as a result.
       example a =  2*3 (arithmetic expression)
       
       while Statement is simple a combination of a variable and value assigned to it.
       example a = 10 here value 10 has been assigned to a an example of Assignment statement

In [ ]:
Que 6  After Running the following code what does the variable bacon contain?
       bacon = 22
       bacon+1
       
Ans  -  bacon = 23 after running the above code

In [6]:
bacon = 22
bacon+1

23

In [ ]:
Que 7  What should be the values of following 2 terms?
        'spam'+'spamspam'
         'spam'*3
   
   
Ans -  'spamspamspam'    will be the  output for both the operations.
        as shown below

In [8]:
'spam'+'spamspam'

'spamspamspam'

In [10]:
'spam'*3

'spamspamspam'

In [ ]:
Que 8   why eggs a valid variable name while 100 is invalid?

Ans -  eggs is valid variable name while 100 is invalid because a variable name can only start with an Alphabet or with 
       underscore(_). Variable name cannot start with a digit and spaces are also not allowed.

In [ ]:
Que 9   What 3 functions can be used to get the integer , floating point number or String version of a value  ?

Ans    int()   function can be used to get integer
       float() function can be used to get floating point number
       str()   function can be used to get string version of a value

In [ ]:
Que 10  Why does this expression cause an error and how can you fix it
        'i have eaten'+99+ 'burritos'
        
ANS  This expression cause an error because 99 is an integer and only strings can be concatenated to other string with the
      + operator.
      to resolve this problem we can convert the integer into string using str(99).

In [12]:
'i have eaten '+ str(99) +' burritos'

'i have eaten 99 burritos'